<form method="post" action="/login">

  <input id="username" name="username" type="text" />

  <input id="password" name="password" type="text" />

  <input type="submit" value="submit" />
</form>

it 'does load /tweets if user is logged in' do
  user = User.create(:username => "becky567", :email => "starz@aol.com", :password => "kittens")


  visit '/login'

  fill_in(:username, :with => "becky567")
  fill_in(:password, :with => "kittens")
  click_button 'submit'
  expect(page.current_path).to eq('/tweets')
